<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>node</key>
	<integer>0</integer>
	<key>id</key>
	<integer>0</integer>
	<key>id_attached</key>
	<integer>0</integer>
	<key>prime</key>
	<false/>
	<key>x</key>
	<integer>0</integer>
	<key>y</key>
	<integer>0</integer>
	<key>title</key>
	<string></string>
	<key>notes</key>
	<string></string>
	<key>link</key>
	<string></string>
	<key>time</key>
	<string></string>
	<key>icon</key>
	<string></string>
</dict>
</plist>
